{% extends 'base.html' %}

{% block index %}

<link rel="stylesheet" href="/static/css/bootstrap.min.css">

<div class="form-group">
<button class="btn btn-primary dButton">Derecha</button>
<button class="btn btn-primary aButton">Izquierda</button>
<input class="btn btn-primary wButton">Arriba</button>
<button class="btn btn-primary sButton">Abajo</button>
</div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>

{% endblock %}
