<head>
  <title>Besto Nombre in the uorl</title>
  <link rel="shortcut icon" href="/static/img/ros-logo.png">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
  {% block index %}
  {% endblock %}
</body>

<! --About-->
  <section id='about' class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Dirección</h4>
              <hr class="my-4">
              <div class="small">Carrera 22 Calle 67 B, Av Ambalá, Ibagué, Tolima</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Website</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="http://www.unibague.edu.co" target=»_blank>www.unibague.edu.co</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Teléfono</h4>
              <hr class="my-4">
              <div class="small text-black-1">2760010 Ext 4251</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/jquery.canvasjs.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/main.js"></script>
