{% extends 'base.html' %}

{% block index %}

<! --Barra Principal-->

  <div class="buttonsRos">
    <div class="movDiv">
    <div class="dbuttons">
      <input type="submit1">
      <input class = "wButton" type="submit" value="Move">
      <input type="submit1">
    </div>
    <div>
      <input class = "aButton" type="submit" value=" Left ">
      <input class = "sButton" type="submit" value=" Back ">
      <input class = "dButton" type="submit" value=" Right ">
      <input class = "stopButton" type="submit" value=" Stop ">
    </div>
    </div>
    <div class="movConfig">
      <div>
        <label for = "linearVel">Linear Velocity</label>
        <label for = "linearVel">Angular Velocity</label>
      </div>
      <div>
        <input type="text" name="linearVel" id="linearVel" >
        <input type="text" name="angularVel" id="angularVel" >
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-gray fixed-top" id="mainNav">
    <div class="container">
      <a class="nav-link" href="/">
        <h4>Inicio</h4>
        
      </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link js-scroll-trigger" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
            <h4>Sensors</h4>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#illuminance">Illuminance</a>
            <a class="dropdown-item" href="#imu">IMU</a>
            <a class="dropdown-item" href="#mf">Magnetic Field</a>
          </div>
        </li>
        
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">
            <h4>About</h4>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/logout">
            <h4>Log Out</h4>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <! --Data-->
    <section id="illuminance" class="data-section bg-black">
      <div class="data-box">
        <table class="table table-hover" style="width: 34%">
          <tr>
            <th class="text-white">Illuminance</th>
            <td class="text-white" id="illuminance_data"></td>
          </tr>
        </table>
        <div id="illuminance_chart" class="chart-box">
        </div>
      </div>
    </section>

    <section id="imu" class="data-section bg-black">
      <div class="imu-box">
        <div>
          <table class="table table-hover" style="width: 95%;">
            <tr>
              <th class="text-white">Orientation X</th>
              <td class="text-white" id="imuox"></td>
            </tr>
            <tr>
              <th class="text-white">Orientation Y</th>
              <td class="text-white" id="imuoy"></td>
            </tr>
            <tr>
              <th class="text-white">Orientation Z</th>
              <td class="text-white" id="imuoz"></td>
            </tr>
            <tr>
              <th class="text-white">Angular Velocity X</th>
              <td class="text-white" id="imuavx"></td>
            </tr>
            <tr>
              <th class="text-white">Angular Velocity Y</th>
              <td class="text-white" id="imuavy"></td>
            </tr>
            <tr>
              <th class="text-white">Angular Velocity Z</th>
              <td class="text-white" id="imuavz"></td>
            </tr>
            <tr>
              <th class="text-white">Linear Acceleration X</th>
              <td class="text-white" id="imulax"></td>
            </tr>
            <tr>
              <th class="text-white">Linear Acceleration Y</th>
              <td class="text-white" id="imulay"></td>
            </tr>
            <tr>
              <th class="text-white">Linear Acceleration Z</th>
              <td class="text-white" id="imulaz"></td>
            </tr>
          </table>
        </div>
        <div class="imu_charts">
          <div class="imux_charts">
            <div id="imuox_chart">
            </div>
            <div id="imuax_chart">
            </div>
            <div id="imulx_chart">
            </div>
          </div>
          <div class="imuy_charts">
            <div id="imuoy_chart">
            </div>
            <div id="imuay_chart">
            </div>
            <div id="imuly_chart">
            </div>
          </div>
          <div class="imuz_charts">
            <div id="imuoz_chart">
            </div>
            <div id="imuaz_chart">
            </div>
            <div id="imulz_chart">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="mf" class="data-section bg-black">
      <div class="mf-box">
        <div>
          <table class="table table-hover" style="width: 95%;">
            <tr>
              <th class="text-white"></th>
              <td class="text-white">x10^-3</td>
            </tr>
            <tr>
              <th class="text-white">Magnetic Field X</th>
              <td class="text-white" id="mfx"></td>
            </tr>
            <tr>
              <th class="text-white">Magnetic Field Y</th>
              <td class="text-white" id="mfy"></td>
            </tr>
            <tr>
              <th class="text-white">Magnetic Field Z</th>
              <td class="text-white" id="mfz"></td>
            </tr>
          </table>
        </div>
        <div class="mf-charts">
          <div id="mfx_chart">
          </div>
          <div id="mfy_chart">
          </div>
          <div id="mfz_chart">
          </div>
        </div>
      </div>
    </section>
    <p>
      <img src="{{ url_for('video_feed') }}">
    </p>
    {% endblock %}
